import init.${ro.hardware}.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug

on init
    # See storage config details at http://source.android.com/tech/storage/
    # Support legacy paths
    symlink /sdcard /mnt/sdcard
    symlink /sdcard /storage/sdcard0

on fs
    mount_all /fstab.zcu102

on post-fs
    # fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

    # Set supported opengles version - OpenGLES 2
    setprop ro.opengles.version 131072

    # update cpuset now that processors are up
    # Foreground should contain all cores
    write /dev/cpuset/foreground/cpus 0-3

    # Add foreground/boost cpuset, it is used for app launches,
    # and maybe other high priority tasks in the future.
    # It's to be set to whatever cores should be used
    # for short term high-priority tasks.
    write /dev/cpuset/foreground/boost/cpus 0-3

    # background contains a small subset (generally one core)
    write /dev/cpuset/background/cpus 0

    # limit system background services to use 2 cores
    write /dev/cpuset/system-background/cpus 0-1

    # Set LCD density
    setprop ro.sf.lcd_density 120

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service init_touchscreen /system/bin/init_touch.sh
    class main
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -iwlan0 -Dnl80211 -c/system/etc/wifi/wpa_supplicant.conf -O/data/misc/wifi/sockets -g@android:wpa_wlan0
    class late_start
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot
